@import "../../app.scss";


.hero {
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(180deg, #0c0c1d, #111132);
    position: relative;

    .iconContainer {
        z-index: 1;
        position: absolute;
        font-size: 50vh;
        top: -200px;
        white-space: nowrap;
        color: #ffffff09;
        width: 50%;
        width: 250px;
        height: 100px;
    }

    .wrapper {
        max-width: 1366px;
        height: 100%;
        margin: auto;

        .textContainer {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;

            @include mobile {
                height: 50%;
                width: 100%;
                gap: 20px;
                font-size: 5px;
                text-align: center;
                align-items: center;
            }

            h2 {
                font-size: 30px;
                color: orange;
                letter-spacing: 10px;

                @include mobile {}

                // @include mobile-md {}

                // @include mobile-lg {
                //     font-size: 30px;
                //     margin: auto;
                // }

                // @include tablet {
                //     font-size: 30px;
                //     margin: auto;
                // }

                // @include laptop {
                //     font-size: 30px;
                //     margin: auto;
                // }

                // @include laptop-lg {
                //     font-size: 30px;
                //     margin: auto;
                // }

                // @include screen-4k {
                //     font-size: 30px;
                //     margin: auto;
                // }

            }

            h1 {
                z-index: 900;
                font-size: 90px;
                letter-spacing: 2px;

                @include mobile {
                    font-size: 40px;
                    padding: 25px;
                }
            }

            .buttons {
                z-index: 900;

                button {
                    padding: 20px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color: white;
                    margin-right: 20px;
                    font-weight: 300;
                    cursor: pointer;
                }
            }

            img {
                width: 50px;
            }
        }
    }

    .imageContainer {
        // Hero image container
        z-index: 999;
        position: absolute;
        top: 0%;
        right: 18%;

        @include mobile {
            height: 65%;
            width: 100%;
            top: 500px;
            bottom: 0;
            margin: auto;
            overflow: hidden;
            right: 17%;
        }

        @include desktop {
            height: 65%;
            width: 100%;
            top: 500px;
            bottom: 0;
            margin: auto;
            object-fit: cover;
            overflow: hidden;
        }

        img {
            height: 1250px;
            object-fit: contain;

            @include mobile {
                width: 100%;
                height: 100%;
                padding-left: 15rem;
            }

            @include tablet {
                width: 100%;
                height: 100%;
                padding-left: 15rem;
            }

            @include desktop {
                width: 100%;
                height: 100%;
                // padding-left: 15rem;
            }
        }

    }

    .slidingTextContainer {
        z-index: 800;
        position: absolute;
        font-size: 50vh;
        bottom: -120px;
        white-space: nowrap;
        color: #ffffff09;
        width: 50%;
        font-weight: bold;
    }

}