@import "../../app.scss";

.hero {
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(180deg, #0c0c1d, #111132);
    position: relative;

    .iconContainer {
        z-index: 1;
        position: absolute;
        font-size: 50vh;
        top: -200px;
        white-space: nowrap;
        color: #ffffff09;
        width: 50%;
        width: 250px;
        height: 100px;
    }

    .wrapper {
        max-width: 1800px;
        height: 100%;
        margin: auto;

        .textContainer {
            width: 75%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1rem;

            @include mobile {
                height: 75%;
                width: 100%;
                gap: 1rem;
                text-align: center;
                align-items: center;
            }

            @include tablet {
                height: 75%;
                width: 100%;
                gap: 1rem;
                text-align: center;
                align-items: center;
                padding: 2rem;
            }

            @include desktop {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 1rem;
                margin-left: 4rem;
            }

            @include desktop-lg {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 1rem;
                margin-left: 5rem;
            }

            @include desktop-4k {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 1rem;
                margin-left: 4rem;
            }

            h2 {
                font-size: 2.2rem;
                color: orange;
                letter-spacing: 0.25rem;

                @include mobile {
                    font-size: 1.5rem;
                    letter-spacing: 0.25rem;
                }

                @include tablet {
                    font-size: 1.75rem;
                    letter-spacing: 0.25rem;
                }

                @include desktop {
                    font-size: 1.5rem;
                    color: orange;
                    letter-spacing: 0.25rem;
                }

                @include desktop-lg {
                    font-size: 1.75rem;
                    color: orange;
                    letter-spacing: 0.25rem;
                }

                @include desktop-4k {
                    font-size: 3rem;
                    color: orange;
                    letter-spacing: 1rem;
                }
            }

            h1 {
                z-index: 900;
                font-size: 4.5rem;
                padding: 1rem;
                margin: 1rem;

                @include mobile {
                    z-index: 900;
                    font-size: 2.5rem;
                    padding: 1rem;
                    margin: 1rem;
                }

                @include tablet {
                    z-index: 900;
                    font-size: 2.75rem;
                    padding: 3rem;
                    margin: 1rem;
                }

                @include desktop {
                    z-index: 900;
                    font-size: 2.5rem;
                }

                @include desktop-lg {
                    z-index: 999;
                    font-size: 2.5rem;
                    padding: 2rem;
                }

                @include desktop-4k {
                    z-index: 900;
                    font-size: 5rem;
                }
            }

            .buttons {
                z-index: 900;

                button {
                    padding: 20px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color: white;
                    margin-right: 20px;
                    font-weight: 300;
                    cursor: pointer;
                }
            }

            img {
                width: 50px;
            }
        }
    }

    .imageContainer {
        // Hero image container
        position: absolute;
        display: flex;
        top: 5rem;
        float: right;

        img {
            height: 1250px;
            object-fit: contain;

            @include mobile {
                display: none;
            }

            @include tablet {
                display: none;
            }

            @include desktop {
                z-index: 850;
                position: absolute;
                display: flex;
                padding-left: 60vmin;
                height: 85vmin;
                top: -3rem;
            }

            @include desktop-lg {
                z-index: 850;
                position: absolute;
                display: flex;
                padding-left: 60vmin;
                height: 90vmin;
                left: 15rem;
                top: -3rem;
            }

            @include desktop-4k {
                z-index: 850;
                position: absolute;
                display: flex;
                padding-left: 60vmin;
                height: 90vmin;
                left: 30vmin;
                top: 5rem;
            }
        }

    }

    .slidingTextContainer {
        z-index: 800;
        position: absolute;
        font-size: 50vh;
        bottom: -120px;
        white-space: nowrap;
        color: #ffffff09;
        width: 50%;
        font-weight: bold;
    }

}