@import "../../app.scss";

.navbar {
    height: 100px;
    padding-top: 2.2rem;

    .wrapper {
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile {
            flex: 1;
            justify-content: flex-end;
            padding: 15px;
            margin-right: 1rem;
        }

        @include tablet {
            flex: 1;
            justify-content: flex-end;
            padding: 15px;
            margin-right: 2.5rem;
        }

        @include desktop {
            flex: 1;
            justify-content: flex-end;
            padding: 15px;
            margin-right: 2rem;
        }

        @include desktop-lg {
            flex: 1;
            justify-content: flex-end;
            padding: 15px;
            margin-right: 2rem;
        }

        @include desktop-4k {
            flex: 1;
            justify-content: flex-end;
            padding: 5px;
            margin-right: 2rem;
        }

        span {
            // Logo
            font-weight: bold;

            @include mobile {
                display: none;
            }

            @include tablet {
                display: none;
            }

            @include desktop {
                flex: 1;
                margin-left: 8rem;
                display: flex;
            }

            @include desktop-lg {
                flex: 1;
                margin-left: -45rem;
                display: flex;
            }

            @include desktop-4k {
                flex: 1;
                margin-left: -65rem;
                display: flex;

            }
        }

        .social {
            display: flex;
            gap: 20px;

            img {
                width: 18px;
                height: 18px;
            }

        }
    }
}