html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    // scroll-snap-type: y mandatory smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body {
    background-color: #0c0c1d;
    color: lightgray;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    height: 100vh;
    scroll-snap-align: center;
}

// For the Mobile Responsiveness
@mixin mobile {
    @media (min-width: 425px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) and (max-width:1023px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1024px) and (max-width:1439px) {
        @content;
    }
}

@mixin desktop-lg {
    @media (min-width: 1440px) and (max-width:2559px) {
        @content;
    }
}

@mixin desktop-4k {
    @media (min-width:2560px) {
        @content;
    }
}


// For the Test component

// .course {
//     height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     .box {
//         width: 200px;
//         height: 200px;
//         background-color: white;

//     }
// }